.checklistItem {
  display: flex;
  grid-gap: 16px;
  padding: 8px;
  background: white;
  border: 1px solid black;
  filter: drop-shadow(1px 1px 1px black);
}

.itemTitle {
  flex: 1;
  overflow: auto;
  border: 1px solid transparent;

  &:empty::before {
    cursor: text;
    opacity: 0.33;
    content: attr(data-placeholder);
  }
}

.itemStatus {
  cursor: pointer;

  &.isLoading {
    cursor: default;
    pointer-events: none;
    touch-action: none;
  }

  &.isDisabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
  }
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  padding: 11px 8px;
  color: black;
  background: white;
  border: 1px solid black;
}
